body {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    margin: 0;
    padding: 0;
}

#plot-container {
    height: 630px;
    max-width: 90%;
    margin: 40px auto;
    background: #141414ff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

#top-div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#bottom-div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background: #ff0000ff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: rgb(190, 0, 0);
}

#plot {
    width: 100%;
    height: 100%;
}

.input {
    background-color: #141414ff;
    color: white;
    border: none;
    width: 600px;
}

.value {
    width: 4%;
}